telegramtranslatorbot-3a54f-firebase-adminsdk-fbsvc-2142b25473.json
available_mosels_GPT.py
check_gpt4.py
compile_docker_comand.txt
test.py
test_db.py
test_db_copy.py
bot_doesnotwork.py
basic_version_bot.py
bot_without_time_good_copy.py
how_commit_togit_and_create_venv.txt
draft_datatbase_commands.py
it_the_sentences_in_base.py
scrap_db.py
what_is_log.py
explanation.py
deepseek_bot.py
all_tables_in_database_del.py
scrap_db copy.py
bot_bot.py
previous_one_working_bot_18_02_25.py
